apdev-flights-ws-v2/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="getFlights" doc:id="f7d20a14-b1fe-4658-be10-4f273c4f110e" >
		<set-variable value="#[message.attributes.queryParams.airline]" doc:name="airline" doc:id="f3eafe1c-a2b6-4501-bce9-b24bc88fb2cf" variableName="airline"/>
		<flow-ref doc:name="setCode" doc:id="edcc7f99-7b75-452c-b59b-ac1bb81e0ea2" name="setCode"/>
		<validation:is-true doc:name="Is valid destination" doc:id="1f104f66-2620-4536-8b30-12ca45cfc713" expression="#[['SFO','LAX','CLE','PDX','PDF'] contains  vars.code ]" message="#['Invalid destination' ++ ' ' ++ (vars.code default ' ')]">
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:INVALID_DESTINATION" />
		</validation:is-true>
		<choice doc:name="Choice" doc:id="05d3e3f9-7204-4f86-b25b-fe2f3cce66e9" >
			<when expression='#[vars.airline == "american"]'>
				<flow-ref doc:name="getAmericanFlights" doc:id="5c692308-f2b9-490c-94b5-48ab53bfb93c" name="getAmericanFlights"/>
			</when>
			<when expression='#[vars.airline == "united"]'>
				<flow-ref doc:name="getUnitedFlights" doc:id="70358004-3912-44cf-bc89-1fb160e6b486" name="getUnitedFlights"/>
			</when>
			<when expression='#[vars.airline == "delta"]'>
				<flow-ref doc:name="getDeltaFlights" doc:id="22bcf4cf-e5ce-445f-9ba8-90c2621b2d40" name="getDeltaFlights"/>
			</when>
			<otherwise >
				<flow-ref doc:name="getAllAirlineFlights" doc:id="18b77faa-c2bb-466d-a96f-19a6ee759bb3" name="getAllAirlineFlights"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="[Flight] to JSON" doc:id="a3ab67de-b1e2-4b4b-9784-c1e9df00b88f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3e55d51d-9446-4ecc-8270-2ebbea737c28" />
	</flow>
	<sub-flow name="setCode" doc:id="5356c060-2e11-4857-8fb5-94d97c95ec0f" >
		<set-variable value="#[message.attributes.queryParams.code]" doc:name="code" doc:id="f75f8d9c-f66f-4197-b35f-361dcb89777a" variableName="code"/>
	</sub-flow>
	<flow name="getAmericanFlights" doc:id="44b18171-21b7-4de0-86a9-0a5eddb8f669" >
		<american-flights-api:get-flights doc:name="Get flights" doc:id="2945f0a9-885c-47aa-821c-380b018548f1" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON to [Flight]" doc:id="406ca876-b614-46ce-8066-da451c8cc40b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="524fc476-e6ad-4c52-a7d8-b95ed638adbc" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="d91f870c-29d2-45f8-8c9f-0493d2997e1e" type="AMERICAN-FLIGHTS-API:BAD_REQUEST">
				<ee:transform doc:name="Transform Message" doc:id="f8d4d7d4-e59e-4ef3-89e3-e410680b302f">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "No flights to " ++ vars.code as String
	
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="200" doc:name="httpStatus" doc:id="039abcf1-c830-4101-8f4c-ada819ab5b55" variableName="httpStatus" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="getUnitedFlights" doc:id="f29b68e3-c497-4372-9f98-5c5dee5c8fad" >
		<http:request method="GET" doc:name="Get Flights" doc:id="77a90f8f-4bca-4c76-8d34-9429b3837fdd" config-ref="HTTP_Request_configuration_training" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="JSON to [Flight]" doc:id="3110e63c-f395-4911-98df-207d16c69585" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9f47b333-8d49-4d2a-bdb9-6c9ce7d66581" />
	</flow>
	<flow name="getDeltaFlights" doc:id="dfff875e-ad2c-4daf-9319-7ef85bcdf894" >
		<ee:transform doc:name="Transform Message" doc:id="ad3be588-7976-46fa-866e-038305fa3108" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Get flights" doc:id="04860d32-2db5-4864-a44b-290b5a19793a" config-ref="Delta_Web_Service_Consumer_Config" operation="findFlight"/>
		<ee:transform doc:name="SOAP to [Flights]" doc:id="d30aadcc-e820-4450-9ff4-0c6fd439af81">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="898ab97a-a05e-4b86-8085-4bff42f42552" />
	</flow>
	<flow name="getAllAirlineFlights" doc:id="f39344f4-bad5-4f87-80d3-6aaede99b8f4" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="2f552087-9b74-4b9f-b830-00c33ed1e1dd" >
			<route >
				<try doc:name="Try" doc:id="a4f44845-c7a4-4ab6-9a40-f28c73e4dc8b" >
					<flow-ref doc:name="getAmericanFlights" doc:id="4120d362-2ffb-4f64-b275-bc36b8ff253a" name="getAmericanFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="975666c1-3345-4293-b519-204de2ab2025" type="ANY">
							<ee:transform doc:name="[]" doc:id="604d8f15-5f4d-41c0-924f-a93751ff277b" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route >
				<try doc:name="Try" doc:id="b17fbe7d-eff5-4993-9e63-d2cec4d109da" >
					<flow-ref doc:name="getUnitedFlights" doc:id="03c8a7be-5b29-4ed2-ba86-8ee0f8366f47" name="getUnitedFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="7687247c-cb84-4230-ba05-aca8ef8e21bb" type="ANY">
							<ee:transform doc:name="[]" doc:id="f1cdc6f7-1d6a-4690-ae01-3602d36d5b15" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route >
				<try doc:name="Try" doc:id="7cdc5aa4-1bd4-457f-bfdb-4f735faea861" >
					<flow-ref doc:name="getDeltaFlights" doc:id="a917ceb6-95a6-4c09-b94b-33f0e6594c29" name="getDeltaFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="00038f41-76de-40c4-9366-a0fdeea0a203" type="ANY">
							<ee:transform doc:name="[]" doc:id="7c7f614d-6d0f-481f-a1f7-0b98f0cf0372" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform to [Flight]" doc:id="317a2f14-fd3e-426a-bdb4-22a9da91aa52" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
flatten(payload..payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fa66fa3d-dcf1-4582-a9db-ec03876d89d9" />
	</flow>
</mule>
