trg_flights/src/main/mule/Implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="58320af0-ad19-4650-9b3b-9757bb8cc58e" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getFlights" doc:id="ab1a7f54-7460-4062-9bf1-f615e6c893be" >
		<http:listener doc:name="Listener" doc:id="f689bed8-db98-43a1-81af-eb061e1aaddf" path="/flights" allowedMethods="GET" config-ref="HTTP_Listener_config1"/>
		<set-variable value="#[message.attributes.queryParams.destination default 'SFO']" doc:name="Get queryParam" doc:id="0a431f9b-32ef-4d1f-9475-0bba8072f0b0" variableName="destn"/>
		<db:select doc:name="Select" doc:id="82a83984-38ef-406d-8ac6-2807c92bd872" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM
american]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'D' : attributes.queryParams.destination}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="44f14311-eb8d-479e-9751-3342b533de54" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "" ++ " TEST",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlightsByID" doc:id="2f054692-449e-4c5d-a4ed-4c638932ecb7" >
		<http:listener doc:name="Copy_of_Listener" doc:id="276cfc7b-b8d4-42a5-a438-2e501552b618" path="/flights/{ID}" config-ref="HTTP_Listener_config1"/>
		<db:select doc:name="Copy_of_Select" doc:id="4fe601d9-03fc-4557-b168-e5c9b8ccf329" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * FROM
american
WHERE ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="f2b2f269-7ab2-445c-a47f-8513bf9f513c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postFlight" doc:id="6b820ca8-25da-4049-a202-e61fda77babb" >
		<http:listener doc:name="Listener" doc:id="1bd78a36-e02b-4c61-bd14-3563ce6cd9ec" allowedMethods="POST" path="/flights" config-ref="HTTP_Listener_config1"/>
		<set-payload value='{"message": "Flight added (but not really)"}' doc:name="Set Payload" doc:id="7b41ed14-97dd-48cb-b9dc-d005eab49a75" />
	</flow>
</mule>
